/* --------------------------------------------------------------
    ABOUT
-------------------------------------------------------------- */

@import "response.scss";

.about {
    background-color: #e2e4e4;

    p {
        line-height: 2.5;
    }

    span {
        color: red;
    }

    .sp_br {
        @include mq ($sp) {
            display: none;
        }
    }
}