/* --------------------------------------------------------------
    NEWS
-------------------------------------------------------------- */

@import "response.scss";

.news {
    
    .inner {

        @include mq ($sp) {
            padding-left: 20px;
            padding-right: 20px;
        }

        h2 {
            text-align: center;
        }

        ul {
            text-align: left;
            margin: 0 100px; /*レスポンシブで幅全部に修正しないといけない*/
            margin-bottom: 80px;

            @include mq ($sp) {
                text-align: left;
                margin: 0 auto;
            }
        }

        li {
            border-bottom: 1px solid #ccc; /*値：太さ　線種　色*/
            padding: 5px 0;

            display: flex;
            justify-content: space-between;

            @include mq ($sp) {
                display: block;
            }

            .content {
                text-align: left;
            }
        }
    }

    .sp_br {
        display: none;

        @include mq ($sp) {
            display: block;
        }
    }
}